*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: Roboto, sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  padding-bottom: 1rem;
}

#ms-ui-root {
  min-height: 100vh;
}

@font-face {
  font-family: "Light";
  src: local("RobotoLight"),
  url("../../../src/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Black";
  src: local("RobotoBlack"),
  url("../../../src/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("RobotoRegular"),
  url("../../../src/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
